# -----------------------------------------------------------------------------
# Configuración del Servidor NestJS
# -----------------------------------------------------------------------------
PORT=3001
NODE_ENV=development

# -----------------------------------------------------------------------------
# Configuración de Base de Datos (PostgreSQL + Prisma Connection Pool)
# -----------------------------------------------------------------------------
# Reemplaza los placeholders con tus credenciales reales.
#
# Explicación de los parámetros del Pool de Conexiones (Senior setup):
# - connection_limit: Define el tamaño máximo del pool de conexiones. Para entornos de desarrollo,
#                     un valor entre 3 y 10 suele ser adecuado. En producción, se debe ajustar
#                     según la capacidad de la base de datos y el número de réplicas/instancias del API.
# - pool_timeout: Tiempo máximo en segundos que Prisma esperará para obtener una conexión del pool
#                 antes de lanzar un error (timeout). 0 significa esperar indefinidamente.
# - pgbouncer: Si usas PgBouncer en modo de pooling transaccional (transaction mode), se añade `&pgbouncer=true`.
#
DATABASE_URL="postgresql://postgres:contraseña_segura@localhost:5432/zayser_pos_db?schema=public&connection_limit=10&pool_timeout=15"


#Claudinary 

CLOUDINARY_API_KEY="123"
CLOUDINARY_API_SECRET="sfdkljfdkljsd"
CLOUDINARY_NAME="asdkasjdjkasd"


